html {height: 100%;}

body {
	height: 100%;
	font: 12px/12px 'fira_sanslight', Arial, sans-serif;
	color: #4a545d;
	background: #fff url('../img/pattern.png') repeat;
}

/*Главные стили*/
a {text-decoration: none;}

ol, ul {list-style: none;}

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {clear: both;}
.clearfix {zoom: 1;}

.left {float: left;}
.right {float: right;}
.text-left {text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}

/*Прибивем футер к низу*/
.wrapper {
	position: relative;
	min-height: 100%;
	min-width: 970px;
	height: auto;
	overflow: hidden;
}
.wrapper:after {
	content: "";
	height: 80px;
	display: block;
}
.page-footer {
	min-width: 970px;
	height: 80px;
	margin-top: -80px;
}

/*Шапка сайта*/
.header {
	background: #eff3f7 url('../img/band.png') bottom center no-repeat;
	margin-bottom: 40px;
}
.header-top {
	max-width: 1200px;
	min-width: 960px;
	margin: 0 auto;
	padding-bottom: 36px;
	padding-left: 10px;
	padding-right: 10px;
}
.header-top .logo {
	display: inline-block;
	margin-top: 39px;
}
.header-top .header-logo-txt {
	position: absolute;
	left: -9999px;
}
.header-top .social-btn {
	margin: 0;
	margin-top: 35px;
	padding: 0;
}
.social-btn {
	font-size: 0;
}
.social-btn .social-link {
	display: inline-block;
	width: 47px;
  height: 47px;
  background-image: url('../img/sprite-ico.png');
  background-repeat: no-repeat;
	margin-left: 24px;
	text-indent: -9999px;
}
.social-btn .social-link:first-child {margin-left: 0;}
.social-btn .social-link.vk-ico {background-position: -5px -119px;}
.social-btn .social-link.vk-ico:hover {background-position: -62px -119px;}
.social-btn .social-link.twit-ico {background-position: -119px -5px;}
.social-btn .social-link.twit-ico:hover {background-position: -119px -62px;}
.social-btn .social-link.face-ico {background-position: -5px -5px;}
.social-btn .social-link.face-ico:hover {background-position: -62px -5px;}
.social-btn .social-link.git-ico {background-position: -5px -62px;}
.social-btn .social-link.git-ico:hover {background-position: -62px -62px;}
/*Главный контент и сайдбар*/
.container-big {
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}
.sidebar {width: 250px;}
/*Навигация*/
.navigation {
	overflow: hidden;
	background: #eff3f7;
	border-radius: 4px;
	margin-bottom: 26px;
}
.navigation .navigation-list {
	margin: 0;
	padding: 0;
}
.navigation-list .navigation-item {
	margin: 0 11px;
	border-top: 2px solid #3ba8c0;
}
.navigation-list .navigation-item:first-child {border-top: none;}
.navigation .navigation-item.current {
	margin: 0;
	border-bottom: none;
	padding-left: 11px;
	margin-bottom: -2px;
	background: #3ba8c0;
}
.navigation .navigation-item.current .navigation-link {color: #fff;}
.navigation-item .navigation-link {
	display: block;
	font: 21px/21px 'fira_sansbook';
	color: #959aa8;
	padding: 25px 0;
	margin-left: 18px;
}
.navigation-item .navigation-link:hover {color: #3ba8c0;}
/*Контакты*/
.contacts {
	font: 20px/20px 'fira_sansbook';
	border-radius: 4px;
}
.contacts .contacts-title {
	padding: 14px 10px 5px 21px;
	background: #3ba8c0;
	border-radius: 4px 4px 0 0;
}
.contacts-title .contacts-text {
	font: 20px/20px 'fira_sansbook';
	color: #fff;
}
.contacts .contacts-btn {
	margin: 0;
	padding: 0;
}
.contacts-btn .contacts-item.mail {
	background: #41b9d4 url('../img/mail.png') no-repeat; 
	background-position: 43px center;
}
.contacts-btn .contacts-item.phone {
	background: #48cbe8 url('../img/phone.png') no-repeat;
	background-position: 43px center;
}
.contacts-btn .contacts-item.skype {
	background: #51daf8 url('../img/skype.png') no-repeat;
	background-position: 43px center;
}
.contacts-btn .contacts-item:last-child {border-radius: 0 0 4px 4px;}
.contacts-btn .contacts-link {
	display: block;
	padding: 15px 0 8px 84px;
	font: 17px/17px 'fira_sansbook';
	color: #fff;
}
.contacts-btn .contacts-link:hover {
	text-decoration: underline;
}
/*Главный контент*/
.main-content {width: 650px;}
/*Основная информация*/
.box {
	min-height: 840px;
	margin-bottom: 35px;
	background: #eff3f7;
	border-radius: 4px;
}
.box .box-title {
	display: inline-block;
	margin: 0;
	margin-bottom: 23px;
	padding: 20px 22px;
	font: 27px/27px 'fira_sansbook';
	color: #3ba8c0;
	font-weight: normal;
	border-bottom: 2px solid #3ba8c0;
}
.box .works-list {
	width: 640px;
	padding: 0 5px;
	margin: 0 auto;
	overflow: hidden;
	font-size: 0;
}
.work-item {
	width: 183px;
	display: inline-block;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 30px;
	overflow: hidden;
	vertical-align: top;
}
.work-item .work-img {
	width: 179px;
	height: 125px;
	margin-bottom: 11px;
	border: 2px solid #3ba8c0;
	border-radius: 4px;
	overflow: hidden;
}
.work-item .work-link {
	display: block;
	padding: 2px 0;
	font: 13px/13px 'fira_sanslight_italic';
	color: #3ba8c0;
	text-align: center;
}
.work-item .work-descr {
	margin: 0;
	padding: 12px 0;
	font: 15px/15px 'fira_sanslight';
	word-spacing: 3px;
	text-align: center;
}
.add-work {
	height: 129px;
	background-color: rgba(236, 251, 255, 0.64);
	border: 1px dashed #3ba8c0;
  border-radius: 4px;
}
.add-work-link {
	height: 100%;
	display: block;
	background: url('../img/add_work.png') no-repeat;
	background-position: center 35px;
}
.add-work-txt {
	margin: 0;
	padding-top: 80px;
	text-align: center;
	font-size: 13px;
	color: #3ba8c0;
}
/*Анимация для блоков работ - начало*/
.effect {
  position: relative;
} 
.effect img {
  width: 100%;
  height: 100%;
}
.eff-3-3 {
  width: 300px;
  height: 200px;
  overflow: hidden;
}
.eff-3-3 .caption {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(1, 108, 164, 0.75);
  width: 100%;
  height: 100%;
  color: #fff;
  opacity: 0;
  -o-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -webkit-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.eff-3-3 .caption a.btn {
  width: 65px;
  border: 2.5px solid #eff3f7;
	border-radius: 5px;
  text-align: center;
  display: block;
  color: #fff;
  padding: 3px 0px;
  margin: 0px auto 0px auto;
  position: relative;
  top: 50%;
  font: 13px/13px 'fira_sansbook';
  -webkit-transform: scale(0.25);
  -moz-transform: scale(0.25);
  -ms-transform: scale(0.25);
  -o-transform: scale(0.25);
  transform: scale(0.25);
  -o-transition: top 0.3s linear 0s, -o-transform 0.3s linear 0.3s;
  -moz-transition: top 0.3s linear 0s, -moz-transform 0.3s linear 0.3s;
  -webkit-transition:top 0.3s linear 0s, -webkit-transform 0.3s linear 0.3s;
  -ms-transition: top 0.3s linear 0s, -ms-transform 0.3s linear 0.3s;
  transition: top 0.3s linear 0s, transform 0.3s linear 0.3s;
}
.eff-3-3:hover .caption {
  opacity: 1;
}
.eff-3-3:hover .caption a.btn {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  top: 45%;
}
/*Анимация для блоков работ - конец*/ 
/*Футер*/
.page-footer {
	background: #eff3f7 url('../img/band.png') top center no-repeat;
	font-family: 'fira_sanslight';
	color: #4a545d;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.page-footer .container {
	padding-top: 40px;
	position: relative;
}
.page-footer .copyright {
	margin: 0 180px;
	text-align: center;
	font-size: 13px;
}
/*Логин*/
.page-footer .lock {
	position: absolute;
	top: 26px;
	left: 32px;
}
.lock .lock-inner {
	display: block;
	height: 40px;
	font: 16px/16px 'fira_sansbook';
	color: #4a545d;
	text-decoration: none;
	background: url('../img/lock.png') no-repeat;
	padding-left: 24px;
	line-height: 40px;
}
.lock .lock-inner:hover {
	text-decoration: underline;
	background: url('../img/lock-hover.png') no-repeat;
}

/*POPUP*/
#page__popup {
    display: none;
}

input, textarea, button {
	outline: none;
}

/*# STRUCTURE #*/

/*layout*/
.page__popup-wrapper {
		margin-top: 100px;
    background: #eff3f7;
    box-shadow: 0 6px 12.48px .52px rgba(13,16,7,.35);
    border-radius: 5px;
    width: 364px;
}

.page__popup-header {
		padding: 11px 5px 8px 15px;
    background: #48cbe8;
    border-bottom: 9px solid #67dffa;
    border-radius: 5px 5px 0 0;
    margin-bottom: 5px;
}

.page__popup-header .b-close {
		float: right;
    width: 22px;
    height: 22px;
    color: #fff;
    font: 15px/25px 'fira_sansregular';
    border: 1px #fff solid;
    border-radius: 50% 50%;
    padding: 0;
    text-align: center;
    cursor: pointer;
    margin-right: 8px;
}

.page__popup-title {
		float: left;
    font: 25px/25px 'fira_sansregular';
    color: #fbfcfd;
    margin: 0;
}

.page__popup-body {
    padding: 7px 22px;
}

/*forms and buttons*/
.button, .popup__label {
    font-family: fira_sansbook, Arial, sans-serif;
}

.page__popup-body .button-wrapper {
    text-align: center;
    margin: 13px auto 6px;
}

.input, .textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 12px;
    width: 100%;
    padding: 12px;
}

.button {
    border-radius: 5px;
    background-color: #48cbe8;
    height: 33px;
    border: solid #3ba8c0;
    border-width: 0 0 2px;
    color: #f6f6f6;
    font-size: 20px;
    padding: 0 25px;
}

.button:active {
    border-top: solid 2px #3ba8c0
}

.button:hover {
    border-bottom: none
}

.input {
    display: block;
    height: 41px;
    color: #48cbe8;
    background-color: #fff;
    border: 1px solid #48cbe8;
    border-radius: 4px;
}

.popup__label {
		display: block;
    color: #58697a;
    font: 17px/17px 'fira_sansbook';
    margin-bottom: 5px;
}

.textarea {
    resize: none;
    display: block;
    width: 100%;
    height: 110px;
    color: #48cbe8;
    border: 1px solid #48cbe8;
    border-radius: 4px
}

.popup__form-group {
    margin-bottom: 13px
}

.server-message {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid;
    font-size: 12px;
    width: 100%;
    padding: 6px 12px;
    margin-bottom: 6px;
    display: none;
}

.error-message {
    background-color: #fad2d1;
    border-color: #f97e76;
    color: #f97e76;
}

.success-message {
    background-color: #b8e1ce;
    border-color: #49bb7b;
    color: #49bb7b;
}

/* file upload */
.fileupload-wrapper {
    width: 100%;
    position: relative;
}

.fileupload { /* хак, взятый из html5boilerplate */
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.fileupload-lable {
    display: block;
    width: 52px;
    height: 41px;
    position: absolute;
    right: 0;
    background: url('../img/load.png') 10px 7px no-repeat;
    background-color: #48cbe8;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

input::-webkit-input-placeholder { color: #48cbe8; font-size: 13px; line-height: 23px;}
input::-moz-placeholder { color: #48cbe8; font-size: 13px; line-height: 23px;}
textarea::-webkit-input-placeholder { color: #48cbe8; font-size: 13px; line-height: 23px;}
textarea:-moz-placeholder  { color: #48cbe8; font-size: 13px; line-height: 23px; }

/* tooltips */
.qtip-mystyle { 
    background-color: #f97e76;
    border-color: #f97e76;
    font-family: 'Arial';
    color: #ffffff;
    font-size: 13px;
}

.has-error { 
    background-color: #fad2d1 !important;
    border-color: #f97e76 !important;
}
.has-success { 
    background-color: none;
    border-color: #3c763d;
}